* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: lightblue;
}

header {
    background-image: linear-gradient(to right, #293a57, #5572a6);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    top: 0;

}

.header-title {
    font-weight: bold;
    font-size: 26px;
    margin: 0;
    padding: 25px 25px 0px 25px;

}

.nav {
    padding: 5px 25px 25px 25px;
    font-size: 18px;
    color: black;
    font-style: italic;
}

.nav ul {
    list-style: none;
}

.navigation ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding:100px 25px 25px 25px;
    width: 300px
}


.hero {
    background-image: linear-gradient(to left, #5572a6, #293a57);
    display: flex;
}

.aboutme {
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
    padding: 25px;
    font-size: 26px;
}

.hero-text img {
    justify-content: left;
    width: 25%;
    padding: 25px;
}

.aboutme2 {
    justify-content: left;
    display: flex;
    width: 75%;
    float: right;
    text-align: justify;
    padding: 25px;
}

.worksheader {
    display: flex;
    justify-content: center;
}

